.app {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  overflow: hidden;
  white-space: pre;
  width: 100%;

  .app__header {
    align-items: center;
    border: solid 1px rgb(17, 17, 17);
    border-width: 1px 0px;
    background-color: rgb(26, 26, 26);
    color: yellowgreen;
    display: flex;
    flex: 0 0 40px;
  }

  .app_main {
    flex: 1 1 0px;
    overflow-y: scroll;
  }

  .app_footer {
    border-top: solid 1px rgb(17, 17, 17);
    background-color: rgb(26, 26, 26);
    color: orange;
    flex: 0 0 100px;
  }
}
